
.navbar { 
	background-color: #382f22; 
	float: right;
	padding: 0;
	position: fixed;
	right: 5%;
	height: 100%; 
}

.navbar li a { 
	font-size: 1.5em;
	height: 3em;
	min-width: 5em;
	padding-top: .7em;
	text-align: center;

}

.navbar li a:hover, 
.navbar li a:focus,
.navbar li a:active { 
	background: #4490c0;

}

.navbar li a .menutext {
	display: none;
}
.navbar li a:hover .menutext {
	color: #382f22;
	display: block;
}

.navbar li a:hover i {
	display: none;
}

body {
	width: 90%;
	margin: auto;
	max-width: 1200px;
}

header, main {
	margin: 2em 12em 5em 2em;
	
}

header {
	background-image: url(images/header.png);
	background-repeat: no-repeat;
	background-position: center 0;
	color: #382f22;
	height: 300px;
	margin-bottom: 1em;
}

header:hover {
	background-position: center -300px;
}

header h1 {
	float: left;
	padding-top: 4em;
	width: 40%;
}

header .lead {
	float: right;
	margin: 0;
	padding-top: 13em;
	text-align: right;
	width: 40%;
}

a {
	color: #382f22;
}

a:hover {
	color: #4490c0;
}

h2, h3 {
	color: #382f22;
}

footer {
	font-size: .7em;
	text-align: center;
}

iframe {
	border: 0;
	margin: 5em auto;
	transform: scale(2);
}

.carousel {
	max-width: 800px;
	text-align: center;
}

.carousel-caption {
	background-color: rgba(68, 144, 192, 0.6);
	border-radius: 2em;
	text-shadow: .2em .2em .5em #173040;
}

.carousel-indicators .active {
	background-color: #382f22;
}

#experience abbr {
	text-decoration-line: none;
}

/* PORTFOLIO GALLERY */
#portfolio {
	background-color: rgba(34, 56, 47, 0.7);
	border-radius: 1em;
	height: 930px;
	padding-top: 1em;
}

#portfolio img {
	vertical-align: top;
}

#portfolio ul {
	list-style-type: none;
	text-align: center;	
}

#portfolio li {
	max-width: 18%;
}

.img-wrap {
	position: relative;
	width: 150px;
	height: 100px;
	vertical-align: top;
}

.img-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 160px;
	border-radius: 5px;
	background-color: rgba(68, 144, 192, 0.7);
	color: #fff;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	opacity: 0;	
	transition: .5s;
}

.img-wrap:hover .img-hover {
	opacity: 1;
}

figure {
	margin: auto;
	padding-top: 1em;
	text-align: center;
	width: 95%;
}

figure img {
	max-width: 100%;
}

/* SCREEN SIZE ADJUSTMENTS */
@media only screen and (max-width: 1200px) {
	header {
		background-image: url(images/smheader.png);
		height: 150px;
	}

	header:hover {
		background-position: center -150px;
	}

	header h1 {
		padding-top: 1.4em;
	}

	header h1.display-4 {
		font-size: 250%;
	}

	header .lead {
		padding-top: 3.5em;
		width: 35%
	}

	.img-hover {
		font-size: 150%;
	}
	
	.location {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.img-hover {
		font-size: 125%;
	}
}

@media only screen and (max-width: 800px) {
	.img-hover {
		font-size: 110%;
	}
}

@media only screen and (max-width: 768px) {
	.navbar {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
	}

	.navbar li a .menutext {
		display: inline-block;
		width: 20%;
		text-align: left;
		padding-left: 1em;
	}

	.navbar li a:hover .menutext {
		color: #382f22;
		display: inline-block;
	}

	.navbar li a:hover i {
		display: inline-block;
	}

	header, main {
		margin: 3em auto;
		width: 90%;
	}
	
	.carousel-caption {
		display: none;
	}

}

@media only screen and (max-width: 550px) {
	iframe {
		transform: scale(1.5);
	}
	
	#portfolio {
		height: 750px;
	}
	
	.img-hover {
		font-size: 90%;
	}
}

@media only screen and (max-width: 450px) {
	header h1, .lead {
		display: none;
	}
	
	iframe {
		transform: scale(1);
	}
	
	.float-right {
		display: none;
	}
	
	#portfolio {
		height: 650px;
	}
	
	.img-hover {
		font-size: 80%;
	}
}

@media only screen and (max-width: 350px) {
	#portfolio {
		height: 550px;
	}
	
	.img-hover {
		font-size: 70%;
	}
}